

.parcels-asigned {
    
    &__time_icon{
        color: #e40808;
        padding-right: 6px;
    }
    
    &__table {

        &__row-mobile{
            display: flex;
            justify-content: start;
            gap: 24px;
        }

        &__row-data{
            padding: 5px 0;
        }

        &__number{
            font-weight: 600;
            color: #e40808;
        }

        &__delivery {
        
            background-color: #f6ffed;

            &_icon{
                color: #52c41a;
                margin-right: 6px;
            }

        } 

        &__receive {
        
            background-color: #e6f4ff;

            &_icon{
                color: #1677ff;
                margin-right: 6px;
            }

        }

        &__pay {
        
            &_icon{
                color: #e40808;
                margin-right: 6px;
            }

        }

        &__received {
        
            background-color: #fffde6;

            &_icon{
                color: #a7aa0d;
                margin-right: 6px;
            }

        }
    }
}