.parcels {

    &_filters {
        margin-bottom: 24px;

        &_select {
            min-width: 200px;
        }
    }

}

.parcelsAsigned {
    &__table {
        &__delivery {
        
            background-color: #f6ffed;

            &_icon{
                color: #52c41a;
                margin-right: 6px;
            }

        } 

        &__receive {
        
            background-color: #e6f4ff;

            &_icon{
                color: #1677ff;
                margin-right: 6px;
            }

        }
    }
}